<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <!--Ref: https://github.com/nlog/NLog/wiki/Layout-Renderers -->

  <!--app variables-->
  <variable name="logFilePath" value="C:/logs/ingestion-sample/" />
  <variable name="archiveFileAboveBytes" value="2097152" />
  <!--2MB-->

  <!--formatting-->
  <variable name="iso8601dateformat" value="${date:format=yyyy-MM-ddTHH\:mm\:ss.fff}" />

  <!--layouts-->
  <variable name="defaultLayout" value="${iso8601dateformat}|${level:uppercase=true}|[${logger}]|[Thread-${threadid}]|[Machine-${machinename}]|${message}${onexception:${newline}EXCEPTION OCCURRED\:${exception:tostring:maxInnerExceptionLevel=5:innerFormat=tostring}}" />

  <targets>
    <!--<target name="traceLog" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
      <target xsi:type="File" fileName="${logFilePath}trace.txt" layout="${defaultLayout}"
              maxArchiveFiles="100"
              archiveNumbering="Sequence"
              archiveAboveSize="${archiveFileAboveBytes}"
              archiveFileName="${logFilePath}archive/trace-{#####}.txt" />
    </target>-->
    <target name="console" xsi:type="ColoredConsole"
            layout="${date:format=yyyy-MM-dd HH\:mm\:ss}|${level}|${message}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="console" />
    <!--<logger name="*" minlevel="Debug" writeTo="traceLog" />-->
  </rules>
</nlog>